.match-list-table {
  .team-list {
    .ant-list-items {
      padding: 0;
      margin: 0;
    }

    padding-left: 10px;

    &--winner {
      @extend .team-list;

      background: rgba(0, 255, 0, 0.2);
    }
  }

  .team-cell {
    padding: 0;
  }
}
