.leaderboard-wrapper {
  .ant-table-wrapper {
    max-width: 720px;
    margin: auto;
  }

  .spin-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
