button.link {
  background: transparent;
  border: none;
  color: royalblue;
  text-decoration: underline;

  &:hover, &:active, &:focus {
    @extend button, .link;
  }
}

button.ot-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
