.ot-navbar {
  height: 40px;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  li {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
